<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to Taka's Playground</h1>
    <p>Dunno what to put here to be honest</p>
    <div class="jia-gradient">
        <h2>Jia's future wife</h2>
        <video autoplay loop muted src="https://media.tenor.co/videos/b36b0563286b68a14c754816936128dd/mp4">
    </div>
</body>
</html>